{% extends "base.html" %}

{% block clientes_active %}class="active"{% endblock %}

{% block heading %}Clientes{% endblock %}

{% block cancel_action %}{% url clientes %}{% endblock %}

{% block table_header %}
<td><strong>Razón Social</strong></td>
<td><strong>Direccion</strong></td>
<td><strong>Telefono</strong></td>
<td><strong>Documento</strong></td>
<td colspan=2><strong>CUIT</strong></td>
{% endblock %}

{% block table_row %}
<td>{{ item.razon_social }}</td>
<td>{{ item.direccion }}</td>
<td>{{ item.telefono }}</td>
<td>{{ item.tipo_documento }} {{ item.numero_documento }}</td>
<td>{{ item.cuit|slice:"0:2" }}-{{ item.cuit|slice:"2:10" }}-{{ item.cuit|slice:"10:11" }}</td>
<td>
	<div  align="right" >
	<a href="{% url ejercicios item.id %}"><img src="{{ STATIC_URL }}img/icon_success.gif"></a>
	<a href="{% url clientes_edit item.id %}"><img src="{{ STATIC_URL }}img/icon_changelink.gif"></a>
	<a href="{% url clientes_delete item.id %}"><img src="{{ STATIC_URL }}img/icon_deletelink.gif"></a>
	</div>
</td>
{% endblock %}
